<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>edit</title>
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
  </head>
  <body class="flex items-center justify-center bg-gray-200 pt-24">
    <div class="max-w-md w-full bg-white p-8 rounded-md shadow-lg">
      <h2 class="text-center font-bold text-2xl mb-4">Edit Task</h2>
      <form method="POST" class="space-y-4">
        {% csrf_token%} {{form.as_p}}
        <div>
          <input
            class="bg-blue-500 w-full text-white px-4 py-2 rounded-md text-lg cursor-pointer mt-4"
            type="submit"
            value="Save Changes"
          />
        </div>
      </form>
    </div>
  </body>
</html>
